# Course : Data Analytics with Python ( IIT-ROORKEE)

## Week -1 
## 1. Introduction to analytics 
## 2. Python fundamentals
## 3. Central tendency and dispersion 
## 4. Important data files 

======================================================================

## Introduction to Data-Analytics 

1. Variable - is a characteristics of any entity being studied that is capable of taking different values.
2. Measurements - is when a standard process is used to assign numbers to particular attributes or characteristics of a variable.
3. Data - data are recorded measurements. 

4. Data Analytics - It is a scientific process for transforming data into insights for making better decisions. In other words, it use of data, information technology, statistical analysis, quantitive methods, and mathematical or computer-based model to help managers gain improved insight about their business operations and make better, fact-based decisions - James Evans. It is the process of examining, transforming, and arranging raw data in a specific way to generate useful information from it. it allows for the evaluation of data through analytics and logical reasoning to lead to some sort of outcome or conclusion in some context. It is multi-faceted process that involves a number of steps, approached, and diverse techniques. 
 
5. Data Analysis (PAST)
6. Data Analytics (FUTURE)  
7. Qualitative = intuition + analysis (E.x. how and why story ends the way it did ? ) - Quantitative = Formulas + algorithms (Data + how the sale decreased last summer). 

8. Analysis != Analytics

#######################################################################

9. Classification of Data-Analytics

a. Descriptive analytics (statistics) - what happened ?
Can summarise raw data and convert it into a form that can be easily understood by humans. E.x. Data queries, reports, descriptive statistics, data visualisation and data dashboard.

b. Diagnostics analytics - why did it happen ?
E.x. Data discovery, mining and correlations

c. Predictive analytics - What will happen ?
helps to forecast trends.Predicting the probability of an event happening in future or estimating the accurate time it will happen can all be determined with help of the predictive analytical models. Many different but co-dependent variables are analysed to predict a trend in this type of analysis. E.x. Linear regression, time series analysis and forecasting and data mining. 

d. Prescriptive analytics - How can we make it happen ?
set of techniques to indicate the best course of action. it tells what decision to make to optimise the outcome. the goal of prescriptive is to enable. E.x. Optimise model, simulation, decision analysis.

#######################################################################

10. Required skill set for Data Scientist 

a. Mathematic Expertise 

b. Technology 

c. Business and strategy acumen

11. Job Categorisation

a. Data exploration analysis and insight (Data Analyst & Data Scientist) 

b. Adv algorithms and machine learning (Data Scientist)

c. Data product engineering (Data Scientist)

12. Types of Data  

a. Categorical (Defined categories) 

b. Numerical -> Discrete (counted items) or continuous(measured characteristics)

#######################################################################

13. Levels of Data Measurement

a. Nominal - lowest level of measurement (NO ARITHMETIC OPERATIONS) . A nominal scale classifies data into distinct categories in which no ranking is implied. E.x. gender, marital status. 
[non-parametrical]

b. Ordinal (NO ARITHMETIC OPERATIONS)
classifies data into distinct categories. E.x. Grades A, B, C, D etc
[non-parametrical]

c. Interval scale ( ADD SUBTRACT, NO MULTIPLICATION)
The interval scale is ordered scale, in which the difference between measurements is a meaningful quantities but the measurement do not have a zero point. E.x. year, temperature.
[parametrical]

d. Ratio - highest level of measurement (ALL ARITHMETIC OPERATIONS)
The ratio scale is the ordered scale in which the difference between the measurements isa meaningful quantity and the measurements have the true zero point. Weight, age, salary and the Kelvin temperature comes under ratio scale. it has highest usage potential. 
[parametrical]

#######################################################################

# Python Fundamentals - 1

In [142]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

In [143]:
df = pd.read_csv('/Users/yuvrajsingh/data_analytics_with_python_iit/import_export_t10.csv', sep=';', header = None, encoding='iso-8859-1')

In [144]:
# using df.columns = df.iloc[0] to replace 
df.columns = df.iloc[0] 
df = df[1:]

In [145]:
df

,Year,Country,Code,Item,ExportWeight_InTons,ExportValue_EUROs,ExportValue_inUSD,ImportWeight_InTons,ImportValue_inEUROs,ImportValue_inUSD
1,2018,Belgien (ab 1999),WA27,Mineralische Brennstoffe usw.,"3132455,3",1229892,1456073,"8543471,2",4526719,5346907
2,2018,Belgien (ab 1999),WA28,Anorganische chemische Erzeugnisse,"1545331,2",431869,510397,"1387616,7",513330,605953
3,2018,Belgien (ab 1999),WA29,Organische chemische Erzeugnisse,"1910362,9",2153530,2555244,"2956011,4",8276110,9792420
4,2018,Belgien (ab 1999),WA30,Pharmazeutische Erzeugnisse,"19757,2",2514640,2968963,"24980,7",2135333,2518162
5,2018,Belgien (ab 1999),WA31,DÃ¼ngemittel,"638300,2",183896,218012,"598110,9",151763,180433
...,...,...,...,...,...,...,...,...,...,...
796,2021,China,WA87,"Kraftfahrzeuge, Landfahrzeuge","1187697,4",26671184,31567845,"588067,6",4024440,4754502
797,2021,China,WA88,"Luftfahrzeuge, Raumfahrzeuge","3474,4",3896562,4592479,"434,6",93878,110141
798,2021,China,WA89,Wasserfahrzeuge,"169889,3",210001,252727,"293818,6",574828,677396
799,2021,China,WA90,"Optische, photografische usw. Erzeugnisse","50941,1",9402137,11119249,"131937,8",4677160,5525594
800,2021,China,WA98,VollstÃ¤ndige Fabrikationsanlagen,"2995,7",97336,115739,0,0,0

In [146]:
print(df.head())

0  Year            Country  Code                                Item  \
1  2018  Belgien (ab 1999)  WA27       Mineralische Brennstoffe usw.
2  2018  Belgien (ab 1999)  WA28  Anorganische chemische Erzeugnisse
3  2018  Belgien (ab 1999)  WA29    Organische chemische Erzeugnisse
4  2018  Belgien (ab 1999)  WA30         Pharmazeutische Erzeugnisse
5  2018  Belgien (ab 1999)  WA31                         DÃ¼ngemittel

0 ExportWeight_InTons ExportValue_EUROs ExportValue_inUSD ImportWeight_InTons  \
1           3132455,3           1229892           1456073           8543471,2
2           1545331,2            431869            510397           1387616,7
3           1910362,9           2153530           2555244           2956011,4
4             19757,2           2514640           2968963             24980,7
5            638300,2            183896            218012            598110,9

0 ImportValue_inEUROs ImportValue_inUSD
1             4526719           5346907
2              513330            605953
3             8276110           9792420
4             2135333           2518162
5              151763            180433

In [147]:
print(df.shape)

(800, 10)

In [148]:
print(df.columns)

Index(['Year', 'Country', 'Code', 'Item', 'ExportWeight_InTons',
       'ExportValue_EUROs', 'ExportValue_inUSD', 'ImportWeight_InTons',
       'ImportValue_inEUROs', 'ImportValue_inUSD'],
      dtype='object', name=0)

In [149]:
print(df.dtypes)

0
Year                   object
Country                object
Code                   object
Item                   object
ExportWeight_InTons    object
ExportValue_EUROs      object
ExportValue_inUSD      object
ImportWeight_InTons    object
ImportValue_inEUROs    object
ImportValue_inUSD      object
dtype: object

In [150]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 1 to 800
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Year                 800 non-null    object
 1   Country              800 non-null    object
 2   Code                 800 non-null    object
 3   Item                 800 non-null    object
 4   ExportWeight_InTons  800 non-null    object
 5   ExportValue_EUROs    800 non-null    object
 6   ExportValue_inUSD    800 non-null    object
 7   ImportWeight_InTons  800 non-null    object
 8   ImportValue_inEUROs  800 non-null    object
 9   ImportValue_inUSD    800 non-null    object
dtypes: object(10)
memory usage: 62.6+ KB
None

In [151]:
# for specific column
month_df = df['Code']

# to see first 5 entries 
month_df.head()

1    WA27
2    WA28
3    WA29
4    WA30
5    WA31
Name: Code, dtype: object

In [152]:
# to see last 5 entries 
month_df.tail()

796    WA87
797    WA88
798    WA89
799    WA90
800    WA98
Name: Code, dtype: object

In [153]:
# to see multiple columns 
subset = df[['Year','Country','Code']]
subset.head()

0  Year            Country  Code
1  2018  Belgien (ab 1999)  WA27
2  2018  Belgien (ab 1999)  WA28
3  2018  Belgien (ab 1999)  WA29
4  2018  Belgien (ab 1999)  WA30
5  2018  Belgien (ab 1999)  WA31

In [154]:
# subest rows by index label
# ROW indexing starts from ZERO by defult, but we have set it from 1 above 
print("For 1st row \n",df.loc[1])
print("\n")
# for 50th row 
print("For 50th row \n",df.loc[50])

For 1st row
 0
Year                                            2018
Country                            Belgien (ab 1999)
Code                                            WA27
Item                   Mineralische Brennstoffe usw.
ExportWeight_InTons                        3132455,3
ExportValue_EUROs                            1229892
ExportValue_inUSD                            1456073
ImportWeight_InTons                        8543471,2
ImportValue_inEUROs                          4526719
ImportValue_inUSD                            5346907
Name: 1, dtype: object


For 50th row
 0
Year                              2018
Country                        Italien
Code                              WA72
Item                   Eisen und Stahl
ExportWeight_InTons          4018638,0
ExportValue_EUROs              2346239
ExportValue_inUSD              2775619
ImportWeight_InTons          3498600,2
ImportValue_inEUROs            3063393
ImportValue_inUSD              3624444
Name: 50, dtype: object

# Python Fundamentals - 2

In [155]:
# To get last row 
print("Last row ",df.tail(n=1))

Last row  0    Year Country  Code                              Item ExportWeight_InTons  \
800  2021   China  WA98  VollstÃ¤ndige Fabrikationsanlagen              2995,7

0   ExportValue_EUROs ExportValue_inUSD ImportWeight_InTons  \
800             97336            115739                   0

0   ImportValue_inEUROs ImportValue_inUSD
800                   0                 0

In [156]:
# Subsetting multiple rows 
print(df.loc[[2, 6, 8]])

0  Year            Country  Code                                      Item  \
2  2018  Belgien (ab 1999)  WA28        Anorganische chemische Erzeugnisse
6  2018  Belgien (ab 1999)  WA33  Etherische Ãle, Riech-, SchÃ¶nheitsmittel
8  2018  Belgien (ab 1999)  WA37                Photochemische Erzeugnisse

0 ExportWeight_InTons ExportValue_EUROs ExportValue_inUSD ImportWeight_InTons  \
2           1545331,2            431869            510397           1387616,7
6             50718,5            262490            310460             32888,4
8             38596,8            205430            242665              8358,3

0 ImportValue_inEUROs ImportValue_inUSD
2              513330            605953
6              125731            148713
8               58600             69233

In [157]:
# Get second row 
print(df.iloc[1])

0
Year                                                 2018
Country                                 Belgien (ab 1999)
Code                                                 WA28
Item                   Anorganische chemische Erzeugnisse
ExportWeight_InTons                             1545331,2
ExportValue_EUROs                                  431869
ExportValue_inUSD                                  510397
ImportWeight_InTons                             1387616,7
ImportValue_inEUROs                                513330
ImportValue_inUSD                                  605953
Name: 2, dtype: object

In [158]:
# Get 50th row 
print(df.iloc[49])

0
Year                              2018
Country                        Italien
Code                              WA72
Item                   Eisen und Stahl
ExportWeight_InTons          4018638,0
ExportValue_EUROs              2346239
ExportValue_inUSD              2775619
ImportWeight_InTons          3498600,2
ImportValue_inEUROs            3063393
ImportValue_inUSD              3624444
Name: 50, dtype: object

In [159]:
# Get last row 
print(df.iloc[-1]) # we can not pass -1 as index in loc() ONLY DIFF BTW iloc()

0
Year                                               2021
Country                                           China
Code                                               WA98
Item                   VollstÃ¤ndige Fabrikationsanlagen
ExportWeight_InTons                              2995,7
ExportValue_EUROs                                 97336
ExportValue_inUSD                                115739
ImportWeight_InTons                                   0
ImportValue_inEUROs                                   0
ImportValue_inUSD                                     0
Name: 800, dtype: object

In [160]:
# Subsetting multiple rows 
print(df.iloc[[2, 6, 8]])

0  Year            Country  Code  \
3  2018  Belgien (ab 1999)  WA29
7  2018  Belgien (ab 1999)  WA36
9  2018  Belgien (ab 1999)  WA38

0                                               Item ExportWeight_InTons  \
3                   Organische chemische Erzeugnisse           1910362,9
7          Sprengstoffe, pyrotechnische Artikel usw.              1438,1
9  Verschiedene Erzeugnisse der Chemischen Industrie            642301,7

0 ExportValue_EUROs ExportValue_inUSD ImportWeight_InTons ImportValue_inEUROs  \
3           2153530           2555244           2956011,4             8276110
7              4125              4857               391,6                6938
9           1089266           1289074            916059,5             1185496

0 ImportValue_inUSD
3           9792420
7              8219
9           1402507

In [161]:
# Subseeting Columns 
# The python slicing syntax uses a colcon ":"
# If we just use colcon, the attribute refers everything.

In [162]:
subset = df.loc[:,['Year','Country','Code']] # [row, col]
subset.head() # by default head() shows first 5 elements

0  Year            Country  Code
1  2018  Belgien (ab 1999)  WA27
2  2018  Belgien (ab 1999)  WA28
3  2018  Belgien (ab 1999)  WA29
4  2018  Belgien (ab 1999)  WA30
5  2018  Belgien (ab 1999)  WA31

In [163]:
subset.head(n=10) # for printing forst 10 elements

0   Year            Country  Code
1   2018  Belgien (ab 1999)  WA27
2   2018  Belgien (ab 1999)  WA28
3   2018  Belgien (ab 1999)  WA29
4   2018  Belgien (ab 1999)  WA30
5   2018  Belgien (ab 1999)  WA31
6   2018  Belgien (ab 1999)  WA33
7   2018  Belgien (ab 1999)  WA36
8   2018  Belgien (ab 1999)  WA37
9   2018  Belgien (ab 1999)  WA38
10  2018  Belgien (ab 1999)  WA72

In [164]:
subset = df.iloc[:,[2,4,-1]] 
subset.head()

0  Code ExportWeight_InTons ImportValue_inUSD
1  WA27           3132455,3           5346907
2  WA28           1545331,2            605953
3  WA29           1910362,9           9792420
4  WA30             19757,2           2518162
5  WA31            638300,2            180433

In [165]:
# subsetting columns by range 
small_range = list(range(5))
print(small_range)

subset = df.iloc[:,small_range] 
subset.head()

[0, 1, 2, 3, 4]

,Year,Country,Code,Item,ExportWeight_InTons
1,2018,Belgien (ab 1999),WA27,Mineralische Brennstoffe usw.,"3132455,3"
2,2018,Belgien (ab 1999),WA28,Anorganische chemische Erzeugnisse,"1545331,2"
3,2018,Belgien (ab 1999),WA29,Organische chemische Erzeugnisse,"1910362,9"
4,2018,Belgien (ab 1999),WA30,Pharmazeutische Erzeugnisse,"19757,2"
5,2018,Belgien (ab 1999),WA31,DÃ¼ngemittel,"638300,2"

In [166]:
# subsetting rows and columns using loc()
print(df.loc[42, 'Year'])

2018

In [167]:
# subsetting rows and columns using iloc()
print(df.iloc[42, 0])

2018

In [168]:
# subsetting multiple rows and columns using loc()
print(df.loc[[2,4,6], ['Year','Country','Code']])

0  Year            Country  Code
2  2018  Belgien (ab 1999)  WA28
4  2018  Belgien (ab 1999)  WA30
6  2018  Belgien (ab 1999)  WA33

In [169]:
# subsetting multiple rows and columns using iloc()
print(df.iloc[[2,4,6], [1,3,5]])

0            Country                                       Item  \
3  Belgien (ab 1999)           Organische chemische Erzeugnisse
5  Belgien (ab 1999)                                DÃ¼ngemittel
7  Belgien (ab 1999)  Sprengstoffe, pyrotechnische Artikel usw.

0 ExportValue_EUROs
3           2153530
5            183896
7              4125

In [170]:
# subsetting multiple rows and columns using iloc()
print(df.iloc[2:5, [1,3,5]])

0            Country                              Item ExportValue_EUROs
3  Belgien (ab 1999)  Organische chemische Erzeugnisse           2153530
4  Belgien (ab 1999)       Pharmazeutische Erzeugnisse           2514640
5  Belgien (ab 1999)                       DÃ¼ngemittel            183896

### Grouped means

In [171]:
# ImportWeight_InTons group by year
ImportWeight_InTons_by_year_sum = df.groupby("Year")["ImportWeight_InTons"].sum()
ImportWeight_InTons_by_year_sum.head()

Year
2018    8543471,21387616,72956011,424980,7598110,93288...
2019    8832130,41277986,82752052,231966,2750164,62551...
2020    7797384,51292308,22661554,239293,4766274,04240...
2021    7867323,81420058,23121618,840650,6707863,33725...
Name: ImportWeight_InTons, dtype: object

In [172]:
# Stacked table 
multi_group_var = df.\
                groupby(['Year','Country','Code',"Item"])\
                [["ImportWeight_InTons","ExportWeight_InTons"]].\
                sum()
print(multi_group_var.head(n=30))

0                                                                             ImportWeight_InTons  \
Year Country           Code Item
2018 Belgien (ab 1999) WA27 Mineralische Brennstoffe usw.                               8543471,2
                       WA28 Anorganische chemische Erzeugnisse                          1387616,7
                       WA29 Organische chemische Erzeugnisse                            2956011,4
                       WA30 Pharmazeutische Erzeugnisse                                   24980,7
                       WA31 DÃ¼ngemittel                                                  598110,9
                       WA33 Etherische Ãle, Riech-, SchÃ¶nheitsmittel                      32888,4
                       WA36 Sprengstoffe, pyrotechnische Artikel usw.                       391,6
                       WA37 Photochemische Erzeugnisse                                     8358,3
                       WA38 Verschiedene Erzeugnisse der Chemischen Industrie            916059,5
                       WA72 Eisen und Stahl                                             4031464,8
                       WA73 Waren aus Eisen oder Stahl                                   277288,0
                       WA83 Verschiedene Waren aus unedlen Metallen                        2945,2
                       WA84 Maschinen, Apparate, mechanische GerÃ¤te                      132794,9
                       WA85 Elektrotechnische Erzeugnisse                                 53560,4
                       WA86 Schienenfahrzeuge                                              1788,1
                       WA87 Kraftfahrzeuge, Landfahrzeuge                                394784,7
                       WA88 Luftfahrzeuge, Raumfahrzeuge                                   2441,7
                       WA89 Wasserfahrzeuge                                                 869,8
                       WA90 Optische, photografische usw. Erzeugnisse                      7300,9
                       WA98 VollstÃ¤ndige Fabrikationsanlagen                                    0
     China             WA27 Mineralische Brennstoffe usw.                                206987,8
                       WA28 Anorganische chemische Erzeugnisse                           287958,0
                       WA29 Organische chemische Erzeugnisse                             495834,0
                       WA30 Pharmazeutische Erzeugnisse                                   28050,9
                       WA31 DÃ¼ngemittel                                                     792,5
                       WA33 Etherische Ãle, Riech-, SchÃ¶nheitsmittel                      17609,0
                       WA36 Sprengstoffe, pyrotechnische Artikel usw.                     47714,3
                       WA37 Photochemische Erzeugnisse                                     1668,5
                       WA38 Verschiedene Erzeugnisse der Chemischen Industrie            108339,9
                       WA72 Eisen und Stahl                                              456311,4

0                                                                             ExportWeight_InTons
Year Country           Code Item
2018 Belgien (ab 1999) WA27 Mineralische Brennstoffe usw.                               3132455,3
                       WA28 Anorganische chemische Erzeugnisse                          1545331,2
                       WA29 Organische chemische Erzeugnisse                            1910362,9
                       WA30 Pharmazeutische Erzeugnisse                                   19757,2
                       WA31 DÃ¼ngemittel                                                  638300,2
                       WA33 Etherische Ãle, Riech-, SchÃ¶nheitsmittel                      50718,5
                       WA36 Sprengstoffe, pyrotechnische Artikel usw.                      1438,1
                       WA37 Photochemische Erzeugnisse                                    38596,8
                       WA38 Verschiedene Erzeugnisse der Chemischen Industrie            642301,7
                       WA72 Eisen und Stahl                                             2808395,2
                       WA73 Waren aus Eisen oder Stahl                                   344905,5
                       WA83 Verschiedene Waren aus unedlen Metallen                       29738,5
                       WA84 Maschinen, Apparate, mechanische GerÃ¤te                      346977,9
                       WA85 Elektrotechnische Erzeugnisse                                120607,6
                       WA86 Schienenfahrzeuge                                              4799,8
                       WA87 Kraftfahrzeuge, Landfahrzeuge                                667910,0
                       WA88 Luftfahrzeuge, Raumfahrzeuge                                    184,2
                       WA89 Wasserfahrzeuge                                               17277,7
                       WA90 Optische, photografische usw. Erzeugnisse                     13814,4
                       WA98 VollstÃ¤ndige Fabrikationsanlagen                                    0
     China             WA27 Mineralische Brennstoffe usw.                                107938,5
                       WA28 Anorganische chemische Erzeugnisse                           165730,3
                       WA29 Organische chemische Erzeugnisse                             270163,0
                       WA30 Pharmazeutische Erzeugnisse                                   25572,9
                       WA31 DÃ¼ngemittel                                                   53875,9
                       WA33 Etherische Ãle, Riech-, SchÃ¶nheitsmittel                      10975,7
                       WA36 Sprengstoffe, pyrotechnische Artikel usw.                       213,5
                       WA37 Photochemische Erzeugnisse                                      938,8
                       WA38 Verschiedene Erzeugnisse der Chemischen Industrie            183124,5
                       WA72 Eisen und Stahl                                              624982,9

In [173]:
# To flat the dataframe (multi_group_var)

flat = multi_group_var.reset_index()
flat.head(n=30)

,Year,Country,Code,Item,ImportWeight_InTons,ExportWeight_InTons
0,2018,Belgien (ab 1999),WA27,Mineralische Brennstoffe usw.,"8543471,2","3132455,3"
1,2018,Belgien (ab 1999),WA28,Anorganische chemische Erzeugnisse,"1387616,7","1545331,2"
2,2018,Belgien (ab 1999),WA29,Organische chemische Erzeugnisse,"2956011,4","1910362,9"
3,2018,Belgien (ab 1999),WA30,Pharmazeutische Erzeugnisse,"24980,7","19757,2"
4,2018,Belgien (ab 1999),WA31,DÃ¼ngemittel,"598110,9","638300,2"
5,2018,Belgien (ab 1999),WA33,"Etherische Ãle, Riech-, SchÃ¶nheitsmittel","32888,4","50718,5"
6,2018,Belgien (ab 1999),WA36,"Sprengstoffe, pyrotechnische Artikel usw.","391,6","1438,1"
7,2018,Belgien (ab 1999),WA37,Photochemische Erzeugnisse,"8358,3","38596,8"
8,2018,Belgien (ab 1999),WA38,Verschiedene Erzeugnisse der Chemischen Industrie,"916059,5","642301,7"
9,2018,Belgien (ab 1999),WA72,Eisen und Stahl,"4031464,8","2808395,2"
10,2018,Belgien (ab 1999),WA73,Waren aus Eisen oder Stahl,"277288,0","344905,5"
11,2018,Belgien (ab 1999),WA83,Verschiedene Waren aus unedlen Metallen,"2945,2","29738,5"
12,2018,Belgien (ab 1999),WA84,"Maschinen, Apparate, mechanische GerÃ¤te","132794,9","346977,9"
13,2018,Belgien (ab 1999),WA85,Elektrotechnische Erzeugnisse,"53560,4","120607,6"
14,2018,Belgien (ab 1999),WA86,Schienenfahrzeuge,"1788,1","4799,8"
15,2018,Belgien (ab 1999),WA87,"Kraftfahrzeuge, Landfahrzeuge","394784,7","667910,0"
16,2018,Belgien (ab 1999),WA88,"Luftfahrzeuge, Raumfahrzeuge","2441,7","184,2"
17,2018,Belgien (ab 1999),WA89,Wasserfahrzeuge,"869,8","17277,7"
18,2018,Belgien (ab 1999),WA90,"Optische, photografische usw. Erzeugnisse","7300,9","13814,4"
19,2018,Belgien (ab 1999),WA98,VollstÃ¤ndige Fabrikationsanlagen,0,0
20,2018,China,WA27,Mineralische Brennstoffe usw.,"206987,8","107938,5"
21,2018,China,WA28,Anorganische chemische Erzeugnisse,"287958,0","165730,3"
22,2018,China,WA29,Organische chemische Erzeugnisse,"495834,0","270163,0"
23,2018,China,WA30,Pharmazeutische Erzeugnisse,"28050,9","25572,9"
24,2018,China,WA31,DÃ¼ngemittel,"792,5","53875,9"
25,2018,China,WA33,"Etherische Ãle, Riech-, SchÃ¶nheitsmittel","17609,0","10975,7"
26,2018,China,WA36,"Sprengstoffe, pyrotechnische Artikel usw.","47714,3","213,5"
27,2018,China,WA37,Photochemische Erzeugnisse,"1668,5","938,8"
28,2018,China,WA38,Verschiedene Erzeugnisse der Chemischen Industrie,"108339,9","183124,5"
29,2018,China,WA72,Eisen und Stahl,"456311,4","624982,9"